.nav-item.active > .nav-link,
.nav-link.active,
.nav-link:hover {
  background-color: #315ea1;
  color: #fff !important;
  border-radius: 4px;
}
.navbar {
  background: #00395d  !important;
}


body {
  margin: 0;
  padding: 0;
  min-height: 87vh;
  display: flex;
  flex-direction: column;
}
.container {
  height: auto;
  max-width: 1600px;
  max-height: 1000px;
  overflow-x: auto;   // horizontal scroll
  min-height: 600px;  // optional: vertical scroll with sticky headers
  min-width: none;
  flex: 1 0 auto;
  min-height: 0;
}
footer {
  flex-shrink: 0;
}
