<header class="bg-light py-2 mb-0 text-dark">
    <div class="d-flex align-items-center">
        <a class="navbar-brand" routerLink="/">
            <img src="../../../assets/icons/icon.png" alt="Support Hub Logo" style="height: 38px;width: 38px;"
                class="ms-3" />
        </a>
        <h1 class="mb-1 ms-3">Support Hub</h1>
        <span class="me-3 ms-auto">{{ user?.fullName }}</span>
        <button class="btn btn-outline-dark me-3" *ngIf="isLoggedIn()" (click)="logout()">Logout</button>
        <button class="btn btn-outline-dark me-3" *ngIf="!isLoggedIn()" (click)="login()">Login</button>
    </div>
</header>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" routerLink="/">Support System</a> -->
            <div class="collapse navbar-collapse show">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                    </li>
                    <!-- <li class="nav-item" *ngIf="hasRole(['Customer'])">
          <a class="nav-link" routerLink="/customer" routerLinkActive="active">My Tickets</a>
        </li> -->
                    <li class="nav-item" *ngIf="hasRole(['Customer', 'Support', 'Agent', 'Admin'])">
                        <a class="nav-link" routerLink="/ticket" [queryParams]="{id:'t2'}" routerLinkActive="active">Ticket
                            Details</a>
                    </li>
                    <li class="nav-item" *ngIf="hasRole(['Customer', 'Support', 'Agent', 'Admin'])">
                        <a class="nav-link" routerLink="/customer" routerLinkActive="active">Customer</a>
                    </li>
                    <li class="nav-item" *ngIf="hasRole(['Agent', 'Support', 'Admin'])">
                        <a class="nav-link" routerLink="/agent" routerLinkActive="active">Agent</a>
                    </li>
                    <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
        </li> -->
                    <li class="nav-item" *ngIf="hasRole(['Admin'])">
                        <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
                    </li>
                </ul>
                <!-- <span class="text-light me-3">{{ user?.fullName }}</span>
      <button class="btn btn-outline-light" (click)="logout()">Logout</button> -->
            </div>
        </div>
    </nav>

    <div class="container mt-1">
        <router-outlet></router-outlet>
    </div>
</body>

<footer class="bg-light text-center text-lg-start mt-1">
    <div class="text-center p-1 bg-dark text-white">
        © 2024 Support Hub. All rights reserved.
    </div>
</footer>