
<!-- Sub Navbar -->
<nav class="mb-1 border-bottom pb-2">
<div class="navbar navbar-expand-lg navbar-dark bg-light" role="group" aria-label="Request Navigation">
    <button class="btn btn-primary ms-2" (click)="fetchMyRequests()">My Requests</button>
    <button class="btn btn-primary ms-2 me-2" (click)="fetchAssignedRequests()">Assigned To Me</button>

    <div *ngIf="showMyRequestsTable || showAssignedRequestsTable || showSearchResultsTable || showNewTicketFormFlag" class="input-group ms-centered" style="max-width: 400px;">
    <input
      type="text"
      class="form-control"
      placeholder="Search requests..."
      [(ngModel)]="searchQuery"
    />
    <button class="btn btn-success" (click)="searchRequests()">Search</button>
  </div>

    <button class="btn btn-success ms-auto me-2" (click)="showNewTicketForm()">Create New Ticket</button>

</div>
</nav>

<!-- Centered Search Bar or Tickets Table -->
<div class="d-flex justify-content-center align-items-center mb-3" style="height: 68.2vh;">
  <div *ngIf="!showMyRequestsTable && !showAssignedRequestsTable && !showSearchResultsTable && !showNewTicketFormFlag" class="input-group" style="max-width: 400px;">
    <input
      type="text"
      class="form-control"
      placeholder="Search requests..."
      [(ngModel)]="searchQuery"
    />
    <button class="btn btn-success" (click)="searchRequests()">Search</button>
  </div>

  <div *ngIf="showMyRequestsTable" class="table-responsive" style="width: 100%;">
    <h2 class="mb-2 ms-2 mt-2 mb-2">My Requests</h2>
    <app-ticket-list ms-1 [myTickets]="myTickets" [showMyRequestsTable]="showMyRequestsTable"></app-ticket-list>
  </div>

  <div *ngIf="showAssignedRequestsTable" class="table-responsive" style="width: 100%;">
    <h2 class="mb-2 ms-2 mt-2 mb-2">Assigned To Me</h2>
    <app-ticket-list ms-1 [assignedTickets]="assignedTickets" [showAssignedRequestsTable]="showAssignedRequestsTable"></app-ticket-list>
  </div>

  <div *ngIf="showNewTicketFormFlag" style="width: 100%;">
    <app-new-ticket-form (ticketCreated)="onTicketCreated($event)"></app-new-ticket-form>
  </div>
</div>
